<h1>Pages#home huhu</h1>
<%= 'Hello, World!' %> ruby - ausführung und ausgabe
<% 'Hello, World' %> ruby nur ein String wird defieniert/ bzw. der rubycode hier wird angezeigt aber nicht gerendert
<p>Find me in app/views/pages/home.html.erb</p>
